// Variables and mixins
@import "variables";
@import "mixins";

/*! Spectre.css v#{$version} | MIT License | github.com/picturepan2/spectre */
// Reset and dependencies
@import "normalize";
@import "base";

// Elements
@import "typography";
@import "asian";
@import "tables";
@import "buttons";
@import "forms";
@import "labels";
@import "codes";
@import "media";

// Layout
@import "layout";
@import "navbar";

// Components
@import "accordions";
@import "autocomplete";
@import "avatars";
@import "badges";
@import "breadcrumbs";
@import "bars";
@import "cards";
@import "chips";
@import "dropdowns";
@import "empty";
@import "menus";
@import "modals";
@import "navs";
@import "pagination";
@import "panels";
@import "popovers";
@import "steps";
@import "tabs";
@import "tiles";
@import "toasts";
@import "tooltips";

// Utility classes
@import "animations";
@import "utilities";

//Custom skrip.in style


//OVERRIDES
ul {
	list-style:disc outside;
}
ul, ol {
	margin: 1rem 0 1rem 1rem;
}
.modal-container .modal-header {
	padding-right: 0;
}

//VARIABLES
$line-unit: 28px;

//Margins
$margin-desktop-1x: 18px;
$margin-desktop-2x: 36px;
$margin-desktop-3x: 54px;

//COLORS
$unedited-color: #FFCECE;
$edited-color: #94E1C5;

//Body
body {
	background-color: #F9FCFF;
}

//Topbar
.topbar {
	background-color: $primary_color;
	height: 84px;
	align-items: center;
	position: absolute;
	width:100%;
	top:0;
	transition: height 0.2s;
	.btn.btn-link {
		color:#fff;
		font-size: .8rem;
		font-weight:500;
	}
	a {
		color:#fff;
	}
	a.navbar-brand{
		max-width:134px;
		transition: max-width 0.1s;
	}	
	&.shrink {
		height:56px;
		transition: height 0.3s;
		position:fixed;
		a.navbar-brand{
			max-width:88px;
			transition: max-width 0.3s;
		}
	}
}

.navbar .navbar-brand {
	font-weight:900;
	font-size:32px;
	letter-spacing:-1px;
}

//Main Content
.main {
	font-weight:400;
	margin-top:$line-unit*5;
}
.templates-item {
	border-bottom:1px solid rgba(0,0,0, 0.1);
	padding-top:$margin-desktop-1x;
	padding-bottom:$margin-desktop-1x;
	&:first-child {
		padding-top:0;
	}
	&:last-child {
		border-bottom:0;
	}
}
.templates-item-headline p {
	margin-bottom:18px;
}
.unedited {
	border-bottom:2px solid $unedited-color!important;
}
.edited {
	border-bottom:2px solid $edited-color;cursor: pointer;
}
.unedited, .unedited {
	cursor: pointer;
}
.interaction {
	font-size: $font-size-sm;
}
.interaction-checked {
	color:#8CD3B9;
	height: inherit!important;
}

.mt-d1x {
	margin-top: $margin-desktop-1x;
}
.mt-d2x {
	margin-top: $margin-desktop-2x;
}

.headline-editor p {
	font-size:1.2rem;
}

.headline-formula p{
	font-family:$mono-font-family;
	letter-spacing: -0.05rem;
}

.navbar {
	position: relative;
	.off-canvas-panel {
		position: absolute;
		left:calc(100% - 50px);
		width:auto;
	}
}
.off-canvas-sidebar {
	padding:0.5rem 1.5rem;
}
.off-canvas .off-canvas-overlay,
.modal:target .modal-overlay, 
.modal.active .modal-overlay {
	background-color: rgba(0, 0, 0, 0.2)!important;
}
.modal-container {
	position: relative;
}
.linear-transparent-gradient {
    display:block;
    position:absolute;
    z-index:10;
    height:1.5rem;
    width:100%;
    content:"";
    bottom:2.9rem;
    left:0;
    background: linear-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,0) 10%, rgb(255,255,255));
}
.modal-container .modal-body {
	overflow-y: scroll; /* has to be scroll, not auto */
  	-webkit-overflow-scrolling: touch;
}
.off-canvas .off-canvas-toggle {
	top:-0.1rem!important;
}

.skripin-input{
	border:0;
	width:144px; //This should not be fixed value
	height:29px;
	margin-right:7px;
	padding:0!important;
	&:focus {
		outline:0;
	}
	&::placeholder {
		color:#d6d6d6;
	}
}